.Button {
    padding: 10px 12px;
    border-color: transparent;
    background-color: #6600ff;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.Button:hover,
.Button:active,
.Button.Hollow {
    background-color: #fff;
    color: #6600ff;
    border-color: #6600ff;
}